<p class="text-uppercase mb-3 fw-600">Pesquisa de Clientes</p>

<div class="card">
  <br />
  <form>
    <div class="text-right">
      <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary" style="width: 8%;" [routerLink]="['cliente-detalhe', '']">Novo</button>
      </div>
    </div>
  </form>
</div>

<input type="email" class="form-control mb-3" placeholder="Pesquisar por nome do Cliente..." required
  (keyup)='updateFilter($event)'>

<ngx-datatable [columns]="columns" [columnMode]="'force'" class="selection-cell" [rows]="rows" [headerHeight]="40"
  [footerHeight]="50" [rowHeight]="40" [selected]="selected" [selectionType]="'cell'" (select)="onSelect($event)"
  (activate)="onActivate($event)" [limit]="10" [rows]='rows'>
</ngx-datatable>
