<p class="text-uppercase mb-3 fw-600">Dados do Departamento</p>

<div class="card">
  <br />
  <form>
    <div class="form-row">
      <div class="form-group col-sm-1"></div>

      <div class="form-group col-md-3">
        <label for="inputCustCNPJ">CNPJ do Cliente</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputCustCNPJ" placeholder=""
          value="{{cliente.cnpj}}" readonly>
      </div>

      <div class="form-group col-md-7">
        <label for="inputCustName">Nome</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputCustName" placeholder=""
          value="{{cliente.nome}}" readonly>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-1"></div>

      <div class="form-group col-md-10">
        <label for="inputCustAddress">Nome do Departamento</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputCustAddress" placeholder="">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-1"></div>

      <div class="form-group col-md-5">
        <label for="inpuCustNeighborhood">Complemento</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inpuCustNeighborhood" placeholder="">
      </div>

      <div class="form-group col-md-5">
        <label for="inputCustCity">Sala</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputCustCity" placeholder="">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-1"></div>

      <div class="form-group col-md-5">
        <label for="inputResponsable">Responsável</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputResponsable" placeholder="">
      </div>

      <div class="form-group col-md-5 " >
        <label for="inputCustEmail">Email</label>
        <input mdbInput type="text" class="form-control form-control-sm" id="inputCustEmail" placeholder=""
          value="{{cliente.email}}" readonly>
      </div>

    </div>

    <div class="text-right">
      <div class="form-group col-sm-11">
        <button type="submit" class="btn btn-primary" style="width: 8%;">Salvar</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" style="width: 8%;" [routerLink]="['/cliente']">Voltar</button>
      </div>
    </div>

  </form>

  <br />
</div>

